.introducao-bg{
    background-color: #000000;
}
.introducao{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    padding: 0px 20px;
}
.introducao-conteudo{
    align-self: end;
    margin-bottom: 80px;
}
.introducao-conteudo h1{
    font-size: 64px;
    line-height: 1.125;
    margin-bottom: 32px;
}
.introducao-conteudo h1 span{
    color:#FFBF00
}
.introducao-conteudo p{
    font-size: 24px;
    line-height: 1.5;
    color: #ccc;
    margin-bottom: 20px;
}
.introducao-conteudo a{
    display: inline-block;
    padding: 16px 24px;
    /* margin-bottom: 120px; */
    background: linear-gradient(#FFBF00, #F2A60C);
    border-radius: 5px;
    color: #332200;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}
.introducao-conteudo a:hover{
    background: linear-gradient(#FFB60d, #e59317);
}
.introducao img{
    border-radius: 5px;
}