#contato {
  background: linear-gradient(var(--cor-c11) 600px, var(--cor-c01) 0px);
}
.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.contato-dados {
  background-color: var(--cor-c12);
  border-radius: 5px 0px 0px 5px;
}
.contato-formulario {
  background-color: var(--cor-c00);
  border-radius: 0px 5px 5px 0px;
}
.contato-dados h2 {
  margin-bottom: 60px;
}
.dados-endereço {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url(../../img/icones/local.svg) no-repeat 0px 2px;
}
.dados-contato {
  display: grid;
  gap: 8px;
  margin-bottom: 60px;
}
.dados-contato a {
  display: block;
  padding-left: 28px;
}
.dados-contato a:first-child {
  background: url(../../img/icones/email.svg) no-repeat 0px 2px;
}
.dados-contato a:last-child {
  margin-top: 32px;
  background: url(../../img/icones/telefone.svg) no-repeat 0px 2px;
}
.dados-contato a:hover {
  color: var(--cor-c00);
}
.dados-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados {
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
  }
  .contato-dados h2 {
    margin-bottom: 32px;
  }
  .dados-contato {
    margin-bottom: 32px;
  }
  .contato-formulario {
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
  }
}
