body {
  margin: 0%;
  font-family: sans-serif;
  color: var(--cor-c11);
}
h1,
ul,
h2,
h3,
h4,
blockquote,
p {
  margin: 0%;
}
ul {
  padding: 0%;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
img[src$=".jpg"] {
  border-radius: 5px;
}
