.introducao-bg {
  background-color: var(--cor-c12);
  box-shadow: inset 0px -120px var(--cor-c00);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 40px;
}

.introducao-conteudo {
  align-self: end;
  margin-bottom: 200px;
  padding-top: 40px;
}
.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

.introducao img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .introducao-bg {
    box-shadow: inset 0 -60px var(--cor-c00);
  }
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    margin-bottom: 0px;
    padding-top: 80px;
  }
  .introducao img {
    height: 400px;
    width: 100%;
  }
}
