.introducao-bg{
    background-color: var(--cor-c10);
    box-shadow: inset 0px -120px #ffffff;
}
.introducao{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    padding: 0px 20px;
}
.introducao-conteudo{
    align-self: end;
    margin-bottom: 200px;
}
.introducao-conteudo h1{
    font-size: 64px;
    line-height: 1.125;
    margin-bottom: 32px;
    font-family: 'Poppins';
    font-weight: 600; 
}
.introducao-conteudo h1 span{
    color:#FFBF00
}
.introducao-conteudo p{
    font-size: 24px;
    line-height: 1.5;
    color: #ccc;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 400; 
}

.introducao img{
    width: 100%;
    object-fit: cover;
}



@media (max-width:1200px){
    .introducao-conteudo h1{
        font-size: 48px;
    }
    .introducao-conteudo p{
        font-size: 18px;
    }

}

@media (max-width:900px){
    .introducao-bg{
        padding-top: 80px;
        box-shadow: inset 0 -60px #fff;
    }
    .introducao{
        grid-template-columns: 1fr;
    
    }
    .introducao-conteudo{
        margin-bottom: 0px;
    }
    .introducao-conteudo h1{
        font-size: 32px;
    }
    
    .introducao img{
        height: 400px;
        width: 100%;
    }
}