.vantagens-bg {
  background-color: var(--cor-c12);
}
.vantagens-conteudo {
  padding-top: 120px;
  padding-bottom: 120px;
}
.vantagens-conteudo h2 {
  margin-bottom: 80px;
}
.vantagens-conteudo ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
}
.vantagens-conteudo h3 {
  margin-bottom: 8px;
}
.vantagens-conteudo img {
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .vantagens-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens-conteudo ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .vantagens-conteudo p {
    max-width: 40ch;
  }
  .vantagens-conteudo h2 {
    margin-bottom: 40px;
  }
}
